<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin | SecureCart </title>
    <link rel="stylesheet" href="/static/adminstyle/loginstyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <script src="https://kit.fontawesome.com/cfe524a4f9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="header">
        <div class="logo">
          <a href="/admin"><img src="/static/uploads/securecart.webp" alt="SecureCart"></a>
        </div>
    </div>
<main>
  <div class="login-container">
    <h1>Admin Login</h1>
  {% if message %}
  <div class="message">{{ message}}</div>
  {% endif %}
    <form action="{{ url_for('adminlogin') }}" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>
    <br>
    <p> Are you lost? <a href="/home">Click this</a></p>
  </div>
</main>
</body>

</html>